html, body {
}

.noStyle {
    background: none!important;
    border: none!important;
    box-shadow: none!important;
}

.transition-enter {
    opacity: 0.01;
}

.transition-enter-active {
    opacity: 1;
    transition: all 300ms;
}

.transition-exit {
    opacity: 1;
}

.transition-exit-active {
    opacity: 0.01;
    transition: all 300ms;
}

.transition > div {
    position: absolute!important;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.ui.container.mainContainer {
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}

@media only screen and (max-width: 1200px) {
    .transition > div {
        padding-top: 60px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media only screen and (min-width: 1201px) {
}

.menuButton {
    margin: 10px;
}

.menuButton,
.menuButton span {
  display: inline-block;
  transition: all .3s;
  box-sizing: border-box;
}
.menuButton {
  position: relative;
  width: 50px;
  height: 44px;
}
.menuButton span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menuButton span:nth-of-type(1) {
  top: 0;
}
.menuButton span:nth-of-type(2) {
  top: 20px;
}
.menuButton span:nth-of-type(3) {
  bottom: 0;
}

.menuButton.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.menuButton.active span:nth-of-type(2) {
  opacity: 0;
}
.menuButton.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}
